body {
    margin: 0;
    background-image: url("img/3.jpg");
    background-size: cover;
    height: 100%;
}

.showcase::after {
    content: "";
    background-image: url("img/3.jpg");
    filter: blur(2px);
    height: 25rem;
    display:block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
}



.content{
   position: absolute;
  left:40%;
  right:40%;
  top:15%;
   z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}



h1 {
    text-align: center;
    font-size: 4rem;
    letter-spacing: 12px;
    margin: 0;
    color:white;
    text-shadow:  0px 2px 0px #000000;
}

header p {
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: lighter;
    color: white;
    text-shadow:  0px 2px 5px #000000;
}

.works{
    background-color: #2c3746;
    height: 10rem;
}

.p1{
    margin: 0 auto;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.753);
    padding-top: 3.5rem;
}

.line1{
    background-color: rgba(255, 255, 255, 0.527);
    width: 40px;
    height: 1px;
    margin: 0 auto;
    margin-top: 15px;
}

.line {
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 2px;
    margin-top: 2rem;
}

.line2 {
    background-color: rgba(109, 109, 109, 0.616);
    width: 30px;
    height: 3px;
    margin: 0 auto;
    margin-top: 1rem;
}


.line3 {
    background-color: rgba(71, 71, 71, 0.692);
    width: 40px;
    height: 4px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
   
}

h3 {
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 0px 2px 2px #808080;
    margin: 0;
    padding-top: 4rem
}


.introduction {
    height: 30rem;
    /* background-color: #808080; */
    display: flex;
    align-items: center;
    justify-content: stretch;
}

.div2 {
    width: 50%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: #424242; */
}

.myPhoto {
    width: 50%;
    height: 100%;
    object-fit: cover;
    /* background-color: #424242 */
}

h2,
h3 {
    font-size: 30px;
    text-shadow: 0px 2px 2px #808080;
}

.div2 p {
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: justify;
}

.workS{
    background-image: url("img/Screen\ Shot\ 2020-03-25\ at\ 2.11.36\ AM.png");
    filter: blur(1px);
    height: 18rem;
    background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}

.suscribe {
    background-color: #dbe0d9;
    text-align: center;
    height: 40rem;
}

.suscribe p,
.suscribe h3 {
    margin: 0
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto
}

textarea {
    width: calc(100% + 0px);
    align-self: center;
    margin: 20px auto;
    font-size: 18px;
    color: rgb(93, 94, 95);
    border: 0;
}

textarea::placeholder {
    color: rgba(93, 94, 95, 0.589);
}

textarea:focus {
    outline: none
}

.group {
    width: 100%;
    position: relative;
    margin: 20px auto;
}

input {
    font-size: 18px;
    padding: 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;

}



input:focus~label {
    top: -20px;
    font-size: 14px;
    color: #406932;
    font-weight: bolder;
}

.bar {
    position: relative;
    display: block;
    width: calc(100% + 0px);
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #435c3a;
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 50%;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.submit {
    font-size: 17px;
    border: none;
    background: #406932ec;
    cursor: pointer;
    border-radius: 5px;
    width: calc(100% + 20px);
    color: white;
    margin-left: -10px;
    height: 3rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.submit:hover {
    transform: translateY(5px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.socialMedia {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.follow {
    width: 54px;
    font-size: 1rem;
    border-radius: 12px;
    display: inline-block;
    margin: 1rem;
    white-space: nowrap;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(70deg, #f3c703 0%, rgb(231, 11, 37) 35%, rgb(163, 52, 170) 100%);
    color: #dbe0d9;
    transition: all 0.5s ease;
    text-decoration: none;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

i {
    font-size: 2.5rem;
    margin-right: 20px;
   
}

.follow:hover {
    width: 150px;
    transform: translateX(-50px);
}

.scan {
    width: 54px;
    font-size: 1rem;
    border-radius: 12px;
    display: inline-block;
    margin: 1rem;
    white-space: nowrap;
    padding: 5px;
    box-sizing: border-box;
    background: #00ad18;
    color: #dbe0d9;
    transition: all 0.5s ease;
    text-decoration: none;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

i {
    font-size: 2.5rem;
    margin-right: 20px;
   
}

.scan:hover {
    width: 150px;
    transform: translateX(50px);
}





.pageTwo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("img/3.jpg");
    background-size: cover;
    height: 100vh;
    padding: 5rem
}

.hide{
    display:none;
}

.code{
   
    box-shadow: 0 0 20px 1px rgb(17, 85, 64);
}
p{
    font-size: 2rem;
    font-weight: bolder;
    color:#212e1d;
}


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: rgba(60, 63, 61, 0.4);
  --btn-color: #406932;
  --bg-color: #141218;
}

* {
  box-sizing: border-box;
}



button {
  position:relative;
  padding: 10px 20px;  
  border: none;
  background: none;
  cursor: pointer;
  
  font-family: "Source Code Pro";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;  
  color: var(--text-color);
  
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 0px 0px 5px 2px;
  border-radius: 8px; 
  z-index: 0;  
  overflow: hidden;   
}

button:focus {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}

.right::after, button::after {
  content: var(--content);
  display: block;
  position: absolute;
  white-space: nowrap;
  padding: 40px 40px;
  letter-spacing: 1.2px;
  pointer-events:none;
}

button::after{
  font-weight: 200;
  top: -30px;
  left: -20px;
} 

.right, .left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.right {
  left: 66%;
}
.left {
  right: 66%;
}
.right::after {
  top: -30px;
  left: calc(-66% - 20px);
  
  background-color: var(--bg-color);
  color:transparent;
  transition: transform .4s ease-out;
  transform: translate(0, -90%) rotate(0deg)
}

button:hover .right::after {
  transform: translate(0, -47%) rotate(0deg)
}

button .right:hover::after {
  transform: translate(0, -50%) rotate(-7deg)
}

button .left:hover ~ .right::after {
  transform: translate(0, -50%) rotate(7deg)
}

/* bubbles */
button::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
    radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 62% 67%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 15% 61%, transparent 0,  transparent 5px, var(--text-color) 6px, var(--text-color) 7px, transparent 7px),
    radial-gradient(circle at 94% 48%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),

    radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px),
    radial-gradient(circle at 38% 72%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}



